<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>To Do List</title>
</head>

<link rel="stylesheet" href="css/styles.css">
<body>

	<div class="box" id="heading">
		<h1> <%= listTitle %> </h1>
	</div>
